## Compress data for faster training

In [2]:
import pandas as pd

In [2]:
df_ratings_new = pd.read_csv('../Data/ratings.csv', names = ['userID', 'itemID', 'rating'])

In [3]:
group_by_user = df_ratings_new.groupby("userID")

In [4]:
counts_by_user = group_by_user.count()

In [5]:
# first 2000 by rating count
subset_ids = counts_by_user.sort_values(by="rating",ascending=False).reset_index()["userID"][:2000]

In [6]:
df_ratings_new = df_ratings_new[df_ratings_new["userID"].isin(subset_ids)]

In [7]:
mapping = {}
for i in range(len(subset_ids)):
    mapping[subset_ids[i]] = i

In [8]:
df_ratings_new["userID"] = df_ratings_new["userID"].apply(lambda x: mapping[x])

/home/mark/GVI_Analytics/Rec_system/recommender-systems-project/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df_ratings_new = df_ratings_new[df_ratings_new["itemID"].isin(subset_ids)]

In [10]:
df_ratings_new["itemID"] = df_ratings_new["itemID"].apply(lambda x: mapping[x])

In [11]:
df_ratings_new

          userID  itemID  rating
896          259      95       1
916          259    1916      10
947          259     507       2
958          259     303       1
978          259    1558       5
...          ...     ...     ...
17349198      92     893       9
17349210      92     293       3
17349212      92     504       5
17349224      92    1396       6
17349250      92    1302      10

[110023 rows x 3 columns]

In [12]:
df_ratings_new.to_csv('../Data/ratings_compressed.csv', index=False, header=False)

In [3]:
df_ratings_new = pd.read_csv('../Data/ratings_compressed.csv', names = ['userID', 'itemID', 'rating'])

In [4]:
len(df_ratings_new)

110023